@font-face {
    font-family: "grande";
    src: url(./fonts/Myriad\ Pro\ Regular.ttf);
}

@font-face {
    font-family: "pequeño";
    src: url(./fonts/Myriad\ Pro\ Light.otf);
}




body {
    background-color: #FFFFFF;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0%;
}

header {
    position: absolute;
    border-bottom: 1px solid #707070;
    top : -3vw;
    width: 100%;
    left : 0;
    height: 12vh;
    background-color: white;
}

.añadir {
    position: relative;
    margin-left: 10vw;
    width: 2vw;
    top: 30%;
}

.text1 {
    position: relative;
    font-family: "grande";
    margin-left: 13vw;
    font-size: 3em;
    top: -0%;
}

.custom1 {
    text-decoration: none;
    color: black;
}

.custom1:hover {
    text-decoration: underline;

}



.refresh {
    position: relative;
    top: -30%;
    margin-left: 23vw;
    width: 1.7vw;

}
.text2 {
    position: relative;
    font-family: "grande";
    margin-left: 26vw;
    top: -55%;
    font-size: 3em;
}

.custom2 {
    text-decoration: none;
    color: black;
}

.custom2:hover {
    text-decoration: underline;

}

.trash {
    position: relative;
    top: -88%;
    left: 37vw;
    width: 1.6vw;

}
.text3 {
    position: relative;
    font-family: "grande";
    margin-left: 40vw;
    top: -5.5em;
    font-size: 3em;
    
}

.custom3 {
    text-decoration: none;
    color: black;
}

.custom3:hover {
    text-decoration: underline;

}

.logo {
    position: relative;
    top: -155%;
    left: 50vw;
    width: 2.5vw;
}

.reportar {
    position: relative;
    top: -155%;
    left: 57vw;
    width: 2vw;
}
.text4 {
    position: relative;
    font-family: "grande";
    margin-left: 62.8vw;
    top: -8.5em;
    font-size: 3em;
}

.custom4 {
    text-decoration: none;
    color: black;
}

.custom4:hover {
    text-decoration: underline;

}

.ayuda {
    position: relative;
    top: -215%;
    left: 74vw;
    width: 2vw;
}

.text5 {
    position: relative;
    font-family: "grande";
    top : -11.3em;
    margin-left: 77vw;
    font-size: 3em;
}
.settings {
    position: relative;
    top: -298%;
    left: 91vw;
    width: 1.2vw;
}
.notificaciones {
    position: relative;
    top: -298%;
    left: 92vw;
    width: 1.2vw;
}
.perfil {
    position: relative;
    top: -290%;
    left: 93vw;
    width: 3vw;
}

.cuadro {
    position: relative;
    width: 100vw;
    height: 20vh;
    background-color: #ffa876;
    top: 6.2vh;
}

.texto {
    position: relative;
    font-family: "grande";
    margin-left: 32vw;
    top:6vh;
    font-size: 3vw;
    color: white;
}

form input {
    position: relative;
    top: 16vh;
    width: 80vw;
    left: 10vw;
    height: 4.5vh;
    background-color: #ffa876;
    border-radius: 20px;
    font-size: 1vw;
}

.lupa {
    position: relative;
    width: 2vw;
    left: 87vw;
    top: 11.5vh;
}

.ajuste {
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    top: 20vh;
    left: 8vw;
    width: 20vw;
    height:35vh;
}

.ajustess {
    position: relative;
    width: 7vw;
    margin-left: 6.8vw;
    top: -12vh;
}

.cuenta {
    position: relative;
    font-family: "grande";
    font-size: 2vw;
    width: 10vw;
    top: 14vh;
    left: 6vw;
}

.contacto {
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    top: -15vh;
    left: 40vw;
    width: 20vw;
    height:35vh;
}

.contact {
    position: relative;
    font-family: "grande";
    font-size: 2vw;
    width: 10vw;
    top: 14vh;
    left: 5vw;

}

.cell {
    position: relative;
    width: 7vw;
    margin-left: 6.8vw;
    top: -6vh;
    
}


.reporta {
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    top: -50vh;
    left: 73vw;
    width: 20vw;
    height:35vh;
}

.report {
    position: relative;
    font-family: "grande";
    font-size: 2vw;
    width: 13vw;
    top: 14vh;
    left: 4vw;

}

.papell {
    position: relative;
    width: 7vw;
    margin-left: 6.8vw;
    top: -10vh;

}