@font-face {
    font-family: "grande";
    src: url(./fonts/Myriad\ Pro\ Regular.ttf);
}

@font-face {
    font-family: "pequeño";
    src: url(./fonts/Myriad\ Pro\ Light.otf);
}




body {
    background-color: #FFFFFF;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0%;
}


header {
    position: absolute;
    border-bottom: 1px solid #707070;
    top : -1vw;
    width: 100%;
    left : 0;
    height: 12vh;
    background-color: white;
}

.añadir {
    position: relative;
    margin-left: 10vw;
    width: 2vw;
    top: 30%;
}

.text1 {
    position: relative;
    font-family: "grande";
    margin-left: 13vw;
    font-size: 3em;
    top: -0%;
}



.refresh {
    position: relative;
    top: -30%;
    margin-left: 23vw;
    width: 1.7vw;

}
.text2 {
    position: relative;
    font-family: "grande";
    margin-left: 26vw;
    top: -55%;
    font-size: 3em;
}

.custom1 {
    text-decoration: none;
    color: black;
}

.custom1:hover {
    text-decoration: underline;

}

.trash {
    position: relative;
    top: -88%;
    left: 37vw;
    width: 1.6vw;

}
.text3 {
    position: relative;
    font-family: "grande";
    margin-left: 40vw;
    top: -5.5em;
    font-size: 3em;
}

.custom2 {
    text-decoration: none;
    color: black;
}

.custom2:hover {
    text-decoration: underline;

}

.logo {
    position: relative;
    top: -155%;
    left: 50vw;
    width: 2.5vw;
}

.reportar {
    position: relative;
    top: -155%;
    left: 57vw;
    width: 2vw;
}
.text4 {
    position: relative;
    font-family: "grande";
    margin-left: 62.8vw;
    top: -8.5em;
    font-size: 3em;
}

.custom3 {
    text-decoration: none;
    color: black;
}

.custom3:hover {
    text-decoration: underline;

}

.ayuda {
    position: relative;
    top: -215%;
    left: 74vw;
    width: 2vw;
}

.text5 {
    position: relative;
    font-family: "grande";
    top : -11.3em;
    margin-left: 77vw;
    font-size: 3em;
}


.custom4 {
    text-decoration: none;
    color: black;
}

.custom4:hover {
    text-decoration: underline;

}

.settings {
    position: relative;
    top: -298%;
    left: 91vw;
    width: 1.2vw;
}
.notificaciones {
    position: relative;
    top: -298%;
    left: 92vw;
    width: 1.2vw;
}
.perfil {
    position: relative;
    top: -290%;
    left: 93vw;
    width: 3vw;
}





















.titulo {
    position: relative;
    font-family: "pequeño";
    margin-left: 40vw;
    top: 5.5vw;
    font-size: 6em;
}


.cuadro {
    position: relative;
    background-color: rgb(213, 213, 213);
    border-radius: 20px;
    width: 60vw;
    height: 76vh;
    margin-left: 20vw;
    margin-top: 11vh;
    
}

.indicador {
    
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 3vw;
    font-size: 40px;
    
}

.descripcion {
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 3vw;
    font-size: 40px;
}

.categoria {
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 3vw;
    font-size: 40px;
}

.fecha {
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 3vw;
    font-size: 40px;
}

.termina {
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 3vw;
    font-size: 40px;
}

.formula {
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 3vw;
    font-size: 40px;
}

.frecuencia {
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 3vw;
    font-size: 40px;
}

.cumpli {
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 3vw;
    font-size: 40px;
}

.area {
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 3vw;
    font-size: 40px;
}





form input {
    position: relative;
    border-radius: 20px;
    width: 50vw;
    left: 3vw;
    height: 1vw;
    margin-top: -10vw;


}


