body {
    background-color: black;
    position: relative;
    background-image: url('./images/fondo.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.fondoMedia {
    opacity: 0;
}



.img {
    position: relative;
    width: 45vw;
    left: 26.5vw;
    margin-top: -100vw;
    opacity: 0;
    animation: mostrarImg 6.1s linear forwards;
    
    
}

.img2 {
    position: relative;
    width: 8vw;
    left: 1vw;
    margin-top: -300vw;
    opacity: 0; 
    animation: mostrarImg2 6.1s linear forwards;
    top: -450px;
    
}


@keyframes mostrarImg {
    0% { opacity: 1; }  
    65.57% { opacity: 1; } 
    65.67% { opacity: 0; } 
    100% { opacity: 0; } 
}


@keyframes mostrarImg2 {
    0%, 65.67% { opacity: 0; } 
    66.77% { opacity: 0; } 
    66.87% { opacity: 1; }  
    100% { opacity: 1; } 
}

@media (max-width: 430px) {
    body {
        background-image: none;
        background-size: 100%;
        height: 100vh;
        background-color: black;
        margin: 0%;
        overflow: hidden;
    }

    .fondoMedia {
        display: block;
        z-index: -1;
        opacity: 100;
        overflow: hidden;
    }

    .img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99vw;
        margin-left: -26vw;
        margin-top: -130vh;
        height: 40vh;

    }

    .img2 {
        position: relative;
        width: 4vw;
    }
}