@font-face {
    font-family: "grande";
    src: url(./fonts/Myriad\ Pro\ Regular.ttf);
}

@font-face {
    font-family: "pequeño";
    src: url(./fonts/Myriad\ Pro\ Light.otf);
}




body {
    background-color: black;
    position: relative;
    background-image: url('./images/fondo.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.fondoMedia {
    opacity: 0;
}

.blanco {
    position: relative;
    background-color: #FFFFFF;
    border: 1px #707070;
    border-radius: 67px;
    width: 45vw;
    height: 35vw;
    left: 26vw;
    margin-top: -32vw;
}

.logo {
    position: relative;
    margin-top: 2vw;
    left: 20vw;
    width: 5vw;
    animation: logoSequence 4s linear forwards;
}

.texto1 {
    position: relative;
    font-family: "grande";
    color: rgb(0, 0, 0);
    left: 12vw;
    margin-top: 1vw;
    font-size: 50px;
    width: 20vw;
    display: flex;
    text-align: center;
    
}

.texto2 {
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 13vw;
    margin-top: 1vw;
    font-size: 30px;
    width:30vw;
    display: flex;
    text-align: center;
    
}

.usuario {
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 10vw;
    margin-top: 1vw;
    font-size: 30px;
    width: 530px;
    display: flex;
    text-align: center;
}

form input {
    position: relative;
    border-radius: 20px;
    width: 25vw;
    left: 10vw;
    height: 1.5vw;
    margin-top: -10vw;


}

.contraseña {
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 10vw;
    margin-top: 1vw;
    font-size: 30px;
    width: 530px;
    display: flex;
    text-align: center;
}

form input {    
    position: relative;
    border-radius: 20px;
    width: 25vw;
    left: 10vw;
    height: 1.5vw;
    margin-top: -100vw;
    

}

form button {
    position: relative;
    border-radius: 50px;
    width: 13vw;
    left: -9vw;
    height: 3vw;
    background-color: #FF7221;
    top: 4vw;
    color: white;
    font-size: 1vw;

}

.texto3 {
    position: relative;
    font-family: "pequeño";
    color: rgb(0, 0, 0);
    left: 8vw;
    margin-top: 5vw;
    font-size: 30px;
    width: 40vw;
    display: flex;
    text-align: center;
    
}




@media (max-width: 430px) {
    body {
        background-image: none;
        background-size: 100%;
        height: 100vh;
        background-color: black;
        margin: 0%;
        overflow: hidden;
    }

    .fondoMedia {
        display: block;
        z-index: -1;
        opacity: 100;
        overflow: hidden;
    }
    .blanco {
        position: relative;
        top: -125vh;
        height: 60vh;
        width: 80vw;
        margin-left: -20.5vw;
        border-radius: 40px;
    }

    .logo {
        position: relative;
        width: 18vw;
        left: 32vw;
    }

    .texto1 {
        position: relative;
        font-size: 20px;
        width: 50vw;
        margin-top: 2vh;
        margin-left: 2vw;
    }

    .texto2 {
        position: relative;
        font-size: 13px;
        width: 50vw;
        margin-top: 1vh;
        margin-left: 2vw;
    }

    .usuario{
        position: relative;
        font-size: 18px;
        margin-top: 2vh;
    }
    
    form input {
        position: relative;
        width: 50vw;
        height: 2vh;
    }

    .contraseña {
        position: relative;
        font-size: 18px;
        margin-top: 2vh;

    }

    form button {
        position: relative;
        width: 30vw;
        height: 4vh;
        font-size: 15px;
        margin-left: 34vw;
        margin-top: 2vh;
    }

    .texto3 {
        position: relative;
        width: 50vw;
        font-size: 13px;
        margin-top: 5vh;
        margin-left: 7vw;
    }
}