@font-face {
    font-family: "grande";
    src: url(./fonts/Myriad\ Pro\ Regular.ttf);
}

@font-face {
    font-family: "pequeño";
    src: url(./fonts/Myriad\ Pro\ Light.otf);
}




body {
    background-color: #FFFFFF;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0%;
}

header {
    position: absolute;
    border-bottom: 1px solid #707070;
    top : -1vw;
    width: 100%;
    left : 0;
    height: 12vh;
    background-color: white;
}

.añadir {
    position: relative;
    margin-left: 10vw;
    width: 1.5vw;
    top: 1.5em;
}

.text1 {
    position: relative;
    font-family: "grande";
    margin-left: 12vw;
    font-size: 1em;
}



.refresh {
    position: relative;
    top: -1.1em;
    margin-left: 23vw;
    width: 1.5vw;

}
.text2 {
    position: relative;
    font-family: "grande";
    margin-left: 25vw;
    top: -2.6em;
    font-size: 1em;
}

.trash {
    position: relative;
    top: -3.9em;
    left: 37vw;
    width: 1.4vw;

}
.text3 {
    position: relative;
    font-family: "grande";
    margin-left: 39.1vw;
    top: -5.5em;
    font-size: 1em;
}
.logo {
    position: relative;
    top: -7em;
    left: 50vw;
    width: 2vw;
}

.reportar {
    position: relative;
    top: -6.9em;
    left: 57vw;
    width: 1.6vw;
}
.text4 {
    position: relative;
    font-family: "grande";
    margin-left: 61.6vw;
    top: -8.5em;
    font-size: 1em;
}

.ayuda {
    position: relative;
    top: -9.55em;
    left: 74vw;
    width: 1.6vw;
}

.text5 {
    position: relative;
    font-family: "grande";
    top : -11em;
    margin-left: 76.5vw;
    font-size: 1em;
}
.settings {
    position: relative;
    top: -13.5em;
    left: 91vw;
    width: 1.2vw;
}
.notificaciones {
    position: relative;
    top: -13.5em;
    left: 92vw;
    width: 1.2vw;
}
.perfil {
    position: relative;
    top: -12.9em;
    left: 93vw;
    width: 3vw;
}

.titulo {
    position: relative;
    font-family: "grande";
    margin-left: 43vw;
    top: 7vw;
    font-size: 1.5em;
}

.subtitulo {
    position: relative;
    font-family: "pequeño";
    margin-left: 32vw;
    top: 8vw;
    font-size: 0.9em;
}

.container {
    border-radius: 1.5vw;
    border-style: solid;
    animation: qfondo 12s forwards;
    animation-delay: 9s;
    border-color: #817f7f;
    margin-bottom: 1vw;
    padding: 1vw;
    margin-left: 2.5vw;
    width: 90%;
    display: grid;
    animation: extra 13s forwards;
    grid-template-columns: 0.4fr 0.4fr 0.2fr 0.4fr 0.4fr 0.2fr 0.2fr 0.2fr 0.2fr;
}

.txt {
    animation: qfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    padding: 5px;
    font-size: 1vw;
    font-family: "pequeño";
    display: flex;
    align-items: center;
}
.a{
    margin-left: 2vw;
}
.container_invisible {
    animation: qfondo 12s forwards;
    animation-delay: 9s;
    margin-bottom: 1vw;
    padding-top: 20vh;
    margin-left: 3vw;
    width: 90%;
    font-size: 1vw;
    font-family: "grande";
    display: grid;
    animation: extra 13s forwards;
    grid-template-columns: 0.4fr 0.4fr 0.2fr 0.4fr 0.4fr 0.2fr 0.2fr 0.2fr 0.2fr;
}
@keyframes qfondo {
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1; background-image: none; background-color: white;}
}

.porcentaje{
    margin-left: .5vw;
    position: relative;
}
.porcentaje span{
    font-size: 0.7vw;
    font-family: "pequeño";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin-top: 0.6vw;
    margin-left: 0.4vw;
}
circle{
    fill: none;
    stroke: var(--color);
    stroke-width: 0.3vw;
    stroke-dasharray: var(--porcentaje) 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-linecap: round;
}